@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,bold&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Raleway;
}

#root > div {
    max-width: 80%;
    min-width: 80%;
    margin: auto;
}
h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #333333;
}

/* .description, .refresh , .link{
    max-width: 80%;
    min-width: 80%;
    margin: auto;
}
header, .more {
    max-width: 75%;
    min-width: 75%;
    margin: auto;
} */
header {
    margin-inline-start: 100px;
}
.description {
    margin-inline-end: 100px;
}
.more--quotes a {
    border-radius: 5px;
}
.more--quotes {
    margin-inline-start: 75px;
    margin-inline-end: 75px;
    
}

.more--quotes:hover {
    -webkit-box-shadow: -4px 5px 5px 0px rgb(207, 153, 3);
    -moz-box-shadow:    -4px 5px 5px 0px rgb(207, 153, 5);
    box-shadow:         -4px 5px 5px 0px   rgb(214, 158, 2);
}
.more--quotes a {
    text-decoration: none;
}
.refresh {
    padding-block-start: 1rem;
    padding-block-end: 1rem;
}
.refresh button {
    padding: 0;
    float: right;
    border: none;
    background: none;
    position: relative;
    bottom: 15px;
}
.refresh button > span {
    position: relative;
    bottom: 5px;
    right: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #333333;
}
.description {
    border-left: 8px solid #F7DF94;
    padding-inline-start: 100px;
    box-shadow: 0px 1px 0px 0px #F7DF94; 
    border-radius: 5px;
}


.btn--desc {
    border: 0;
    background: none;
    max-width: 100%;
    min-width: 100%;
}
.description p {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
}
.more {
    background: #333333;
    padding: 29px;
    border-radius: 5px;
}

.more h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #F2F2F2;
}

.more button {
    position: relative;
    bottom: 42px;
    padding: 0;
    float: right;
    border: none;
    background: none;
}

.more span {
    clear: both;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #828282;
}
.link a {
    text-decoration: none;
    font-size: 20px;
    color: blue;
    border: 1px solid #F7DF94;
    border-radius: 5px;
    padding: 5px;
}
.link svg {
    position: relative;
     top: 2px;
}
hr {
    max-width: 80%;
    min-width: 80%;
    margin: auto;
    margin-top: 2rem;
}
footer {
    max-width: 80%;
    min-width: 80%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    opacity: .5;

}